<section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg" style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Contact Us</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    Contact Us
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="contact-section padding-top padding-bottom">
    <div class="container">
        <div class="contact-form-area">
            <h4 class="title">Leave A Message</h4>
            <form class="contact-form" id="contact_form_submit" (ngSubmit)="onSubmit(Name.value,email.value,Message.value)">
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="ParentName">Name  </label>
                      <input type="text" id="Name" name="name" required  pattern="[A-Za-z]{5,20}" ngModel #Name="ngModel">
                      <div class="alert alert-danger mt-3" [hidden]="Name.valid || Name.untouched">
                          <small *ngIf="Name.errors?.['required']">
                             Name is required 
                          </small>
                          <small *ngIf="Name.errors?.['pattern']">
                           Name must be 5 letters at least 
                          </small>
                          
                          </div>
                      </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="email">Email </label>
                      <input type="text" id="email"  name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel  #email="ngModel">
                      <div class="alert alert-danger mt-3" [hidden]="email.valid || email.untouched">
                          <small *ngIf="email.errors?.['required']">
                              Email is required 
                          </small>
                          <small [hidden]="!email.errors?.['pattern']">
                              Please input a valid email.
                          </small>
                          
                          </div>
                  </div>
                <div class="form-group w-100">
                    <textarea name="message" id="message" required placeholder="Your Message" ngModel #Message="ngModel"></textarea>
                    <div class="alert alert-danger mt-3" [hidden]="Message.valid || Message.untouched">
                        <small *ngIf="Message.errors?.['required']">
                           message is required 
                        </small>
                        </div>
                </div>
                <div class="form-group w-100 text-center">
                    <button class="custom-button"><span>Send Message</span></button>
                </div>
            </form>
        </div>
    </div>
</section>