<section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg" style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">Contact Us</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    Contact Us
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="contact-section padding-top padding-bottom">
    <div class="container">
        <div class="contact-form-area">
            <h4 class="title">Leave A Message</h4>
            <form class="contact-form" id="contact_form_submit">
                <div class="form-group">
                    <input type="text" placeholder="Your Name" id="name" name="name">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Your Email" id="email" name="email">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Phone" id="phone" name="phone">
                </div>
                <div class="form-group">
                    <input type="text" placeholder="Subject" id="subject" name="subject">
                </div>
                <div class="form-group w-100">
                    <textarea name="message" id="message" placeholder="Your Message"></textarea>
                </div>
                <div class="form-group w-100 text-center">
                    <button class="custom-button"><span>Send Message</span></button>
                </div>
            </form>
        </div>
    </div>
</section>