   <!-- ==========Banner Section Starts Here========== -->
   <section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg" style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">kittons Register Now</h1>
            <ul class="breadcrumb">
                <!-- <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li> -->
                <li>
                    Welcome for Registration
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->
<div class="container mt-5  mb-5">
    <div class="row d-flex justify-content-center">
        <div class="col-5 ">
         <div class="d-flex justify-content-center animate__animated animate__backInLeft" >
            <img src="./assets/images/teacher/user.jpg" style="width:400px; height: 300px; border-radius: 20px;"alt="">

         </div>

            <!-- <button type="button" class="btn " style="width:200px ; height:50px; background-color:paleturquoise;">Register As A User</button> -->
          <div class="d-flex justify-content-center" >
            <a routerLink="/sign-up" class="btn btn-primary m-3 "  style="border-radius:10px  ;">Register As A User</a> 

          </div>

        </div>
        <div class="col-5">
            <div class="d-flex justify-content-center animate__animated animate__backInRight ">
                <img src="./assets/images/teacher/teacher.jpg" style="width:400px; height: 300px; border-radius: 20px;"  alt="">

            </div>
            
            <div class="d-flex justify-content-center">
            <a routerLink="/sign-up as teacher" class="btn btn-primary m-3" style="border-radius:10px ;" >Register As A Teacher</a> 

            </div>
            <!-- <button type="button" class="btn " style="width:200px ; height:50px; background-color:paleturquoise ; ">Register As A Teacher</button> -->
        </div>
    </div>
</div>
