   <!-- ==========Banner Section Starts Here========== -->
   <section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg" style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">kittons Register Now</h1>
            <ul class="breadcrumb">
                <!-- <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li> -->
                <li>
                    Welcome for Registration
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->
<div class="container">
    <div class="row">
        <div class="col-6">
            <img src="./assets/images/teacher/user.jpg" style="width:400px; height: 300px;"alt="">
            <!-- <button type="button" class="btn " style="width:200px ; height:50px; background-color:paleturquoise;">Register As A User</button> -->
            <a routerLink="/sign-up" class="btn" style="width:200px ; height:50px; background-color:paleturquoise;">Register As A User</a> 
        </div>
        <div class="col-6">
            <img src="./assets/images/teacher/teacher.jpg" style="width:400px; height: 300px;"  alt="">
            <!-- <button type="button" class="btn " style="width:200px ; height:50px; background-color:paleturquoise ; ">Register As A Teacher</button> -->
            <a routerLink="/sign-up as teacher" class="btn" style="width:200px ; height:50px; background-color:paleturquoise;">Register As A Teacher</a> 
        </div>
    </div>
</div>
