<!-- ==========Shop Section Starts Here========== -->
<div class="shop-cart padding-top padding-bottom">
  <div class="container">
    <div class="cart-top mb-widget">
      <table>
        <thead>
          <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of cartProducts; let index = index">
            <td class="product-item-2">
              <div class="p-thumb">
                <a><img [src]="item.item.image" alt="product"></a>
              </div>
              <div class="p-content">
                <a href="#">{{item.item.name}}</a>
              </div>
            </td>
            <td>${{item.item.price}}</td>
            <td>

              <div class="cart-plus-minus">
                <button class="inc qtybutton" (click)="addAmount(index)"></button>
                <input class="cart-plus-minus-box" type="number" (change)="detectChange()" [(ngModel)]="item.quantity" min="1" value="{{item.item.quantity}}">
                <button class="dec qtybutton" (click)="minsAmount(index)">-</button>
              </div>
              <!-- <div class="cart-plus-minus">
                <div class="dec qtybutton" (click)="minsAmount(index)" >-</div>
                <div class="dec qtybutton" (click)="minsAmount(index)">-</div>
                <input class="cart-plus-minus-box" type="number" min="1" value="2">
                <div class="inc qtybutton" (click)="addAmount(index)">+</div>
                <div class="inc qtybutton" (click)="addAmount(index)">+</div>
              </div> -->
            </td>
            <td>${{item.item.price * item.quantity}}</td>
            <td>
              <a (click)="deleteProduct(index)" class="btn btn-outline-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                  class="bi bi-trash3-fill" viewBox="0 0 16 16">
                  <path
                    d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5Zm-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5ZM4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06Zm6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528ZM8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5Z">
                  </path>
                </svg>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="shiping-box mb-widget">
      <div class="row">
        <div class="col-md-8 col-12">
          <div class="cart-overview">
            <h5 class="title">Cart Totals</h5>
            <ul>
              <li>
                <span class="pull-left">Cart Subtotal</span>
                <p class="pull-right">$ {{total}}</p>
              </li>
              <li>
                <span class="pull-left">Shipping and Handling</span>
                <p class="pull-right">Free Shipping</p>
              </li>
              <li>
                <span class="pull-left">Order Total</span>
                <p class="pull-right">$ {{total}}</p>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-2">

          <button type="submit" class="custom-button" (click)="addCart()"><span>Order Now</span></button>

        </div>
      </div>
    </div>
  </div>
</div>
<!-- ==========Shop Section Ends Here========== -->


<!-- <a class="btn btn-primary" routerLink="/checkout">Checkout</a> -->
<!-- <div *ngIf="!cart.selections.length">
  <p>Your cart is empty.  Check out our great <a routerLink="/products">Products</a>!</p>
</div> -->