<div class="container-fluid">
  <div class="row">
      <div class="box1 col-lg-8 col-md-8 col-sm-11">
          <div class="iframe-container">
              <iframe class="responsive-iframe" src="https://res.cloudinary.com/el-safwa/video/upload/v1659448781/Y2Mate.is_-_Hunter_x_Hunter_OST_In_The_Palace_LamentosoIn_The_Palace_Agitato-pucT5R6AV5o-144p-1659440187005_jufc5s.mp4" title="YouTube video player" frameborder="0"></iframe>
          </div>
      </div>
      <div class="box2 col-lg-4 col-md-4 col-sm-1">
          <ul class="video-table">
              <li class="video-lessons"><h5>Course Content</h5></li>
              <li class="video-lessons" id="video1"><p>1. How ethereum works and other things to consider</p></li>
           </ul>
      </div>

  </div>

</div>
