<div class="events-section padding-top padding-bottom pos-rel">
  <div class="top-shape-center">
      <img src="./assets/css/img/gallery1.png" alt="css">
  </div>
  <div class="bottom-shape-left">
      <img src="./assets/css/img/bottom-shape.png" alt="css">
  </div>
  <div class="container">
      <ul class="filter">
          <li data-filter="*">Show All</li>
          <li data-filter=".toddler">Toddler</li>
          <li data-filter=".preschool">Preschool</li>
          <li data-filter=".kinder">kindergarten</li>
          <li data-filter=".programe">pre-k Program</li>
          <li data-filter=".school">before/after school</li>
      </ul>
      <div class="class-wrapper" style="position: relative; height: 1344.88px;">
          <div class="class-inner programe" style="position: absolute; left: 0px; top: 0px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events01.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Father`s Day Sundaes And Shaving!</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner school kinder" style="position: absolute; left: 402px; top: 0px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events02.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Last Day of School End of Year Picnic</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner programe kinder" style="position: absolute; left: 804px; top: 0px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events05.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Father`s Day Sundaes And Shaving!</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner preschool" style="position: absolute; left: 0px; top: 448px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events06.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Last Day of School End of
                              Year Picnic</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner toddler school" style="position: absolute; left: 402px; top: 448px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events04.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Father`s Day Sundaes And Shaving!</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner preschool" style="position: absolute; left: 804px; top: 448px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events07.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Last Day of School End of
                              Year Picnic</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner toddler programe" style="position: absolute; left: 0px; top: 896px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events03.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Father`s Day Sundaes And Shaving!</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner preschool kinder" style="position: absolute; left: 402px; top: 896px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events08.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Last Day of School End of
                              Year Picnic</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
          <div class="class-inner toddler school" style="position: absolute; left: 804px; top: 896px;">
              <div class="event-item">
                  <div class="event-thumb">
                      <a href="events-single.html"><img src="./assets/images/events/events09.jpg" alt="events"></a>
                      <div class="date-tag">
                          <h3 class="title">04</h3>
                          <span class="mon">May 20</span>
                      </div>
                  </div>
                  <div class="event-content">
                      <h5 class="title">
                          <a href="events-single.html">Father`s Day Sundaes And Shaving!</a>
                      </h5>
                      <ul class="events-info">
                          <li><i class="fas fa-clock"></i> 08:00 am to 09:00 pm </li>
                          <li><i class="fas fa-home"></i> National Auditorium, Dhaka. </li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
      <ul class="default-pagination">
          <li>
              <a href="#"><i class="fas fa-angle-left"></i></a>
          </li>
          <li>
              <a href="#">01</a>
          </li>
          <li>
              <a href="#" class="active">02</a>
          </li>
          <li>
              <a href="#">03</a>
          </li>
          <li>
              <a href="#"><i class="fas fa-angle-right"></i></a>
          </li>
      </ul>
  </div>
</div>
