<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">name</th>
      <th scope="col">price</th>
      <th scope="col">duration</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of classListOfCat   ;  let i =index" >
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="/classes"> View Classes</a></td>
      <td>{{item.name}}</td>

      <td >{{ item.price }}</td>
      

      <td>{{item.duration}</td>
      <td ><button  routerLink="/classes-update/{{item.id}}"   class="btn btn-warning"> UPDATE  </button></td>
      <td ><button routerLink="/classes-delete/{{item.id}}" class="btn btn-danger"> DELETE  </button></td>
    </tr>

    <tr>
      <td><button routerLink="/classes-add" class="btn btn-secondary ms-5"> ADD ROW  </button></td>
    </tr>



  </tbody>
</table>