   <!-- ==========Banner Section Starts Here========== -->
    <section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg" style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
        <div class="container">
            <div class="page-header-content">
                <h1 class="title">Robot Smith</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a href="#">Pages</a>
                    </li>
                    <li>
                        Teachers
                    </li>
                </ul>
            </div>
        </div>
    </section>
    <!-- ==========Banner Section Ends Here========== -->

   <!-- ==========Teacher Single Section Starts Here========== -->
    <section class="speaker-single-section padding-top padding-bottom">
        <div class="container">
            <div class="teacher-wrapper" *ngIf="teacherDetails">
                <div class="teacher-single-top">
                    <div class="teacher-single-item d-flex flex-wrap justify-content-between">
                        <!-- <div class="teacher-single-thumb"> -->
                            <img [src]="teacherDetails.image"style="height:200px ; width: 200px;" alt="teacher">
                        <!-- </div> -->
                        <div class="teacher-single-content">
                            <h4 class="title">{{teacherDetails.title}}</h4>
                            <p>{{teacherDetails.description}}</p>
                            <!-- <p class="header-p">Enthusias expedite client-focused growth strategies whereas
                                client-centered
                                infrastructur ntrinsicl grow optimal e-tailers rather than effective information
                                Collabora optimize partnersh and frictionles deliverables</p>
                            <h6 class="subtitle">Personal Statement</h6>
                            <p class="header-p">Expedite client-focused growth strateges whereas client-centered
                                infrastruc
                                Intrinsicly grow optimal e-tailers rather than effective information ollaboratv
                                optimize an partnerships and frictionless deliverable roactively parallel task
                                emerging deliverables without focused benefits.</p> -->
                            <ul>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Adress</span>
                                    <span class="list-attr">{{teacherDetails.address}}</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Email</span>
                                    <span class="list-attr">{{teacherDetails.email}}</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Phone</span>
                                    <span class="list-attr">{{teacherDetails.phone}}</span>
                                </li>
                                <!-- <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">website</span>
                                    <span class="list-attr">www.kitton.com</span>
                                </li>
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Interview</span>
                                    <span class="list-attr">Read The Interview</span>
                                </li> -->
                                <li class="d-flex flex-wrap justify-content-start">
                                    <span class="list-name">Follow Us</span>
                                    <ul class="list-attr d-flex flex-wrap justify-content-start">
                                        <!-- <li>
                                            <a class="twitter" href="#"><i class="fab fa-twitter"></i></a>
                                        </li>
                                        <li>
                                            <a class="instagram" href="#"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a class="basketball" href="#"><i class="fas fa-basketball-ball"></i></a>
                                        </li>
                                        <li>
                                            <a class="vimeo" href="#"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                        <li>
                                            <a class="beahnce" href="#"><i class="fab fa-behance"></i></a>
                                        </li> -->
                                        <li>
                                            <a [href]="teacherDetails.faceurl" class="facebook"><i class="fab fa-facebook-f"></i></a>
                                        </li>
                                        <li>
                                            <a [href]="teacherDetails.googleurl" class="google"><i class="fab fa-google-plus-g"></i></a>
                                        </li>
                                        <li>
                                            <a [href]="teacherDetails.dribbleurl" class="dribble"><i class="fab fa-dribbble"></i></a>
                                        </li>
                                        <li>
                                            <a [href]="teacherDetails.vimeourl" class="vimeo"><i class="fab fa-vimeo-v"></i></a>
                                        </li>
                                        <li>
                                            <a [href]="teacherDetails.pinteresturl" class="pinterest"><i class="fab fa-pinterest-p"></i></a>
                                        </li>
    
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- <div class="row teacher-single-bottom mb--50">
                    <div class="col-lg-6 pb-20 d-flex flex-wrap justify-content-lg-start justify-content-between">
                        <h6 class="w-100 subtitle">Personal Skill</h6>
                        <div class="text-center skill-item">
                            <div class="skill-thumb">
                                <div class="circles text-center" id="circles">
                                    <div class="circle first" data-percent="96"><canvas width="100" height="100"></canvas>
                                        <strong>96<i>%</i></strong>
                                    </div>
                                </div>
                            </div>
                            <p>English</p>
                        </div>
                        <div class="text-center skill-item">
                            <div class="skill-thumb">
                                <div class="circles text-center" id="circles">
                                    <div class="circle second" data-percent="95"><canvas width="100" height="100"></canvas>
                                        <strong>95<i>%</i></strong>
                                    </div>
                                </div>
                            </div>
                            <p>Hindi</p>
                        </div>
                        <div class="text-center skill-item">
                            <div class="skill-thumb">
                                <div class="circles text-center" id="circles">
                                    <div class="circle third" data-percent="80"><canvas width="100" height="100"></canvas>
                                        <strong>80<i>%</i></strong>
                                    </div>
                                </div>
                            </div>
                            <p>Bangla</p>
                        </div>
                    </div>
                    <div class="col-lg-6 pb-20 d-flex flex-wrap justify-content-lg-start justify-content-between">
                        <h6 class="w-100 subtitle">Recognitions Award</h6>
                        <div class="skill-item text-center">
                            <div class="skill-thumb">
                                <img src="assets/images/teacher/01.png" alt="teacher">
                            </div>
                            <p>
                                Award 2020
                            </p>
                        </div>
                        <div class="skill-item text-center">
                            <div class="skill-thumb">
                                <img src="assets/images/teacher/02.png" alt="teacher">
                            </div>
                            <p>
                                Award 2021
                            </p>
                        </div>
                        <div class="skill-item text-center">
                            <div class="skill-thumb">
                                <img src="assets/images/teacher/03.png" alt="teacher">
                            </div>
                            <p>
                                Award 2022
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    <!-- ==========Teacher Single Section Ends Here========== -->



