<section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg"
  style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
  <div class="container">
    <div class="page-header-content">
      <h1 class="title">Our Product Page</h1>
      <ul class="breadcrumb">
        <li>
          <a href="index.html">Home</a>
        </li>
        <li>
          <a href="#">Shop</a>
        </li>
        <li>
          Products
        </li>
      </ul>
    </div>
  </div>
</section>
<!-- ==========Banner Section Ends Here========== -->



<div class="shop-page padding-top padding-bottom">
  <div class="container">
    <div class="row mb--50">
      <div class="col-lg-8 col-xl-9 mb-50">
        <div class="product-details mb-30">
          <div class="row">
            <!--products detalies  -->
            <div class="col-md-6 col-12">
              <div class="product-single-thumb o">
                <div class="slider-for slick-initialized slick-slider">
                  <div class="slick-list draggable">
                    <div class="slick-track"
                      style="opacity: 1; width: 7714px; transform: translate3d(-2842px, 0px, 0px);">
                      <div class="thumb slick-slide slick-cloned" data-slick-index="-1" id="" aria-hidden="true"
                        style="width: 406px;" tabindex="-1">
                        <img [src]="product?.image" alt="shop">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- card -->
            <div class="col-md-6 col-12">
              <div class="product-single-content">
                <h5 class="title">{{ product?.name}}</h5>
                <p class="rating">
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  <i class="far fa-star"></i>
                  {{ product?.Rate }}
                </p>
                <h5 class="amount">
                  {{ product?.price }}
                </h5>
                <h5 class="subtitle">
                  Product Description
                </h5>
                <p class="info">
                  {{ product?.description }}
                </p>
                <form class="size-form">
                  <div class="cart-plus-minus">
                    <div class="dec qtybutton">-</div>
                    <div class="dec qtybutton">-</div>
                    <input class="cart-plus-minus-box" type="text" name="qtybutton" value="1">
                    <div class="inc qtybutton">+</div>
                    <div class="inc qtybutton">+</div>
                  </div>
                  <div class="discount-code">
                    <input type="text" placeholder="Enter Discount Code">

                  </div>
                  <!-- <a routerLink="/cart/{{ product.id }}"> -->
                    <button type="submit" class="custom-button"><span>Add To Cart</span></button>
                  <!-- </a> -->
                </form>
              </div>
            </div>

          </div>
        </div>

        <!-- review -->
        <div class="review">
          <ul class="review-nav">
            <li class="rev " data-target="review-content-show">Reviews 4</li>
          </ul>
          <div class="review-content review-content-show">
            <div class="review-showing">
              <ul class="content">
                <li>
                  <div class="rev-thumb-2">
                    <img src="assets/images/shop/review-icon-four.png" alt="shop">
                  </div>
                  <div class="rev-content-2">
                    <div class="entry-meta">
                      <div class="posted-on">
                        <a href="#">Britney Doe</a>
                        <p>Posted on December 25, 2022 at 6:57 am</p>
                      </div>
                      <div class="rating">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                      </div>
                    </div>
                    <div class="entry-content">
                      <p>Enthusiast build innovativ initiatives before lonterm high-impact
                        awesome theme seo psd porta monetize covalent leadership after
                        without resource.</p>
                    </div>
                  </div>
                </li>
              </ul>

              <!-- Add review  -->
              <div class="client-review">
                <div class="review-form">
                  <div class="review-title">
                    <h5 class="title">Add a Review</h5>
                  </div>
                  <form action="#" class="row client-form">
                    <div class="col-md-4 col-12">
                      <input type="text" name="name" placeholder="Full Name">
                    </div>
                    <div class="col-md-4 col-12">
                      <input type="text" name="email" placeholder="Email Adress">
                    </div>
                    <div class="col-md-4 col-12">
                      <div class="rating">
                        <span class="rating-title">Your Rating : </span>
                        <ul>
                          <li>
                            <i class="far fa-star"></i>
                          </li>
                          <li>
                            <i class="far fa-star"></i>
                          </li>
                          <li>
                            <i class="far fa-star"></i>
                          </li>
                          <li>
                            <i class="far fa-star"></i>
                          </li>
                          <li>
                            <i class="far fa-star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                    <div class="col-md-12 col-12 d-inline-flex">
                      <textarea rows="5" placeholder="Type Here Message"></textarea>
                    </div>
                    <div class="col-12 mb-0">
                      <button type="submit" class="custom-button"><span>Submit
                          Review</span></button>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>


    <!--  -->
 

  </div>
</div>