<!-- ==========Preloader Overlay Starts Here========== -->
<div class="overlayer" style="display: none;">
  <div class="loader">
      <div class="loader-inner"></div>
  </div>
</div>
<div class="scrollToTop"><i class="fas fa-angle-up"></i></div>
<div class="overlay"></div>
<div class="header-top p-2">
  <div class="container">
    <div class="header-top-area">

        <div  *ngIf="userData =='0'" class="d-flex" >
              <li style="list-style: none;">
                <a routerLinkActive="active" routerLink="/sign-in">Sign In</a>
              </li>
              <li class="ps-5"  style="list-style: none;">
                <a routerLinkActive="active" routerLink="/Welcome">Sign Up</a>
              </li>
        </div>
        <div *ngIf="userData !='0'">
          <div *ngIf=" userData.role!='3' ;">
          <div *ngIf=" userData.role!='2' ;">
          <li style="list-style: none;">
            <a class="px-3"  routerLinkActive="active" routerLink="/myclasses/{{ userData.id }}">My Classes</a>

          </li>
    </div>
          </div>
  </div>
        <div *ngIf="userData !='0'">
              <li style="list-style: none;">
                <a class="px-3" routerLinkActive="active" routerLink="/sign-out">Sign Out</a>
                <a class="px-3" routerLinkActive="active" >{{userData.email}}</a>
              </li>
        </div>


    </div>
  </div>
</div>


<div class="header-bottom ">
  <div class="container ">
    <div class="header-wrapper ">
      <div class="logo">
        <a href="index.html">
          <img src="./assets/images/logo/logo.png" alt="logo">
        </a>
      </div>
      <div class="menu-area">
        <ul class="menu ">
          <li class="menu-item-has-hildren ">
            <a routerLinkActive="active" routerLink="/home"><i class="fas fa-home"></i>Home</a>
          </li>
          <li>
            <a routerLinkActive="active" routerLink="/about_us"><i class="fas fa-user"></i>About</a>
          </li>
          <li class="menu-item-has-children ">
            <a routerLink="/classes"><i class="fas fa-book"></i>Classes</a>

            <ul class="submenu" *ngIf="userData?.role==2" >
              <li>
                <a routerLink="/classes-index">My Classes</a>
              </li>
              <li>
                <a routerLink="/classes-add">Add Classes</a>
              </li>
            </ul>

          </li>


          <li class="menu-item-has-children col">
            <a routerLink="/post-index">Posts</a>

            <ul class="submenu" *ngIf="userData?.role==2" >
              <li>
                <a routerLinkActive="active" routerLink="/show-post">My Posts</a>
              </li>
              <li>
                <a routerLinkActive="active" routerLink="/posting">ADD Post</a>
              </li>
            </ul>
          </li>

          <li class="menu-item-has-children">
            <a ><i class="fas fa-layer-group"></i>Pages</a>
            <ul class="submenu">

              <li class="menu-item-has-children">
                <a routerLinkActive="active" routerLink="/teachers">Teacher</a>
              </li>

              <li class="menu-item-has-children">
                <a routerLink="/events-archive">Events</a>
                <ul class="submenu" *ngIf="userData?.role==2" >
                  <li>
                    <a routerLinkActive="active" routerLink="/event-index">My Events</a>
                  </li>
                  <li>
                    <a routerLinkActive="active" routerLink="/event-add">ADD Event</a>
                  </li>
                </ul>
              </li>
              <li class="">
                <a *ngIf="userData.role==1" routerLinkActive="active" routerLink="/cards">Games</a>
              </li>
            </ul>
          </li>



          <li>
            <a routerLinkActive="active" routerLink="/contact_us"><i class="fas fa-map-marker-alt"></i>Contact</a>
          </li>
        <li>
          <a *ngIf="userData.role==1 ||  userData.role==2 ||  userData.role==3" routerLinkActive="active" routerLink="profile"
            style="font-weight:bold; text-transform: uppercase; color: rgb(156, 137, 14);"><i class="fa-solid fa-gear"></i>
           Profile</a>

          </li>
        </ul>


        <div class="c-button">
            <a class="dropdown-togle" id="dropdownMenuButton1" data-bs-toggle="dropdown">
              <span class="cart-amount">{{notification?.count + notificationClass?.count + notificationPost?.count}}</span>
              <i class="fas fa-bell"></i>
            </a>

            <ul class="dropdown-menu meu"  aria-labelledby="dropdownMenuButton1" >
              <li class="position-relative" *ngFor="let not of notification?.data ; let i=index " (click)="check(notification?.check[i].id)" ><a class="dropdown-item " routerLink="/event/{{not.id}}" class="lala" class="d-flex" >
                <img src="{{not.image}}" width="100px" >
                <p>admins has approved for this Event <strong>{{not.title}}</strong></p>
                <span *ngIf="notification?.check[i].check == 0" class="overlay--a"></span>
              </a>
            </li>
              <li class="position-relative" *ngFor="let not of notificationClass?.data ; let i=index " (click)="checkClass(notificationClass?.check[i].id)" ><a class="dropdown-item " routerLink="/classes/{{not.id}}" class="lala" class="d-flex" >
                <img src="{{not.image}}" width="100px" >
                <p>admins has approved for this Class <strong>{{not.name}}</strong></p>
                <span *ngIf="notificationClass?.check[i].check == 0" class="overlay--a"></span>
              </a>
            </li>
              <li class="position-relative" *ngFor="let not of notificationPost?.data ; let i=index " (click)="checkPost(notificationPost?.check[i].id)" ><a class="dropdown-item " routerLink="/single-post/{{not.id}}" class="lala" class="d-flex" >
                <img src="{{not.image}}" width="100px" >
                <p>admins has approved for this Post <strong>{{not.title}}</strong></p>
                <span *ngIf="notificationPost?.check[i].check == 0" class="overlay--a"></span>
              </a>
            </li>
            </ul>
        </div>

        <div class="header-bar d-lg-none">
          <span></span>
          <span></span>
          <span></span>
        </div>
        <div class="ellepsis-bar d-lg-none">
          <i class="fas fa-ellipsis-h"></i>
        </div>
      </div>
    </div>
  </div>
</div>


