<html lang="en">

<head>


  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Dancing+Script:wght@400;500;600;700&family=Inter:wght@400;500;600;700;800&display=swap" rel="stylesheet" />
</head>

<body id="body">
  <div class="container relative " id="pdf" #pdf>
    <div class="background relative">
      <div class="content-wrapper">
        <div class="header relative">

        </div>

        <p class="title-top">Certificate</p>
        <p class="title-bottom">Of Achievement</p>
        <p class="present">THIS CERTIFICATE IS PROUDLY PRESENTED TO:</p>
        <p class="name">{{ data?.childName }}</p>
        <hr class="divider" />
        <p class="completing">FOR SUCCESSFULLY COMPLETING THE COURSE</p>
        <p class="course-title">{{AllClasses?.name}}</p>

        <div class="date-wrapper m-5">
          <p class="date">Date:</p>
          <p class="date">{{myDate | date: 'medium' }}</p>
         
        </div>
      </div>
      <div class="left-block"></div>
      <div class="right-block"></div>
    </div>
    
  </div>

</body>
<div class="row justify-content-center   ">
  <div class="col-lg-4 p-3">
<button class="btn  w-50 m-3 "  style="background-color:#92278f;" (click)="downloadAsPDF()">Download Certification</button>
  </div>
</div>

</html>