* {
  padding: 0;
  margin: 0;
  font-family: Inter;
  font-style: normal;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  box-sizing: border-box;
  overflow: hidden;
}

@media print {
  body {
    -webkit-print-color-adjust: exact;
  }
}

.relative {
  position: relative;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.background {
  background-color: rgba(0, 0, 0, 0.1);
  background-image: url('https://res.cloudinary.com/dawdpkt4f/image/upload/v1657112209/Wave_Back-01_1_vottkr.png');
  background-size: cover;
  padding: 64px;
}

.content-wrapper {
  display: flex;
  margin-left: 130px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://res.cloudinary.com/dawdpkt4f/image/upload/v1657112209/Wave_Back-01_1_vottkr.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: white;
  overflow: hidden;
  min-height: 355px;
  width: 80vw;
  max-width: 1148px;
  border-radius: 20px;
}

.header {
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 40px;
  position: relative;
}

.title-top {
  font-family: Dancing Script;
  font-size: 80px;
  font-weight: 700;
  line-height: 108px;
  letter-spacing: 0.1px;
  color: #92278f;
}

.title-bottom {
  font-family: Inter;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0.1;
  text-align: left;
}

.present {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
  text-align: left;
  text-transform: uppercase;
  margin-top: 24px;
}

.name {
  font-family: DM Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 62px;
  letter-spacing: 0.1px;
  margin-top: 24px;
}

.divider {
  width: 80%;
  margin-top: 8px;
}

.completing {
  margin-top: 16px;
  font-family: Inter;
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0.1px;
}

.course-title {
  margin-top: 16px;
  font-family: Inter;
  font-size: 28px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0.1px;
  color: #92278f;
  max-width: 678px;
  text-align: center;
}

.date-wrapper {
  width: 30%;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.date {
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.1px;
}

.signature-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
  width: 80%;
  margin-top: 24px;
}

.signature-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 222px;
}

.signature {
  height: 140px;
  text-align: center;
  display: flex;
}

.sign {
  font-family: Inter;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.1px;
  font-weight: 600;
  text-align: center;
  color: #101828;
  margin-top: 8px;
  flex-grow: 1;
}

.position {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0.1px;
  text-align: center;
  margin-top: 8px;
  margin-bottom: 16px;
}

.left-block {
  position: absolute;
  background-color: #47d5ff;
  bottom: 96px;
  left: 0px;
  width: 64px;
  height: 224px;
}

.right-block {
  position: absolute;
  background-color: #92278f;
  top: 192px;
  right: 0px;
  width: 64px;
  height: 224px;
}

.logo-mitra-wrapper {
  display: flex;
  gap: 32px;
}

.logo-kelasbersama-wrapper {
  position: absolute;
  top: inherit;
  left: 40px;
}
