<div class="container">
  <form (ngSubmit)="EditProduct()" #f="ngForm">


    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="text" class="form-control" id="exampleInputText" [(ngModel)]="editProd.name">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Price</label>
      <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="editProd.price">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">image</label>
      <input type="file" class="form-control" value="1" id="exampleInputPassword1" [(ngModel)]="editProd.image">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Quantity</label>
      <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="editProd.quantity">
    </div>

    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Description</label>
      <input type="text" class="form-control" id="exampleInputPassword1" [(ngModel)]="editProd.description">
    </div>

    <select class="form-select" aria-label="Default select example" [(ngModel)]="editProd.cat_id">
      <option selected>Open this select menu</option>
      <option *ngFor="let cat of catList " value="{{cat.id}}">{{cat.name}}</option>
    </select>

    <button type="submit" class="btn btn-primary">Submit</button>



  </form>

</div>


<div>
  {{editProd | json }}
</div>