<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">name</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of classListOfCat   ;  let i =index" >
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="/admin/classescat-index"> View Classes Categories</a></td>
      <td>{{item.name}}</td>
      <td ><button  routerLink="/classescat-update/{{item.id}}"   class="btn btn-warning"> UPDATE  </button></td>
      <td ><button routerLink="/classescat-delete/{{item.id}}" class="btn btn-danger"> DELETE  </button></td>
    </tr>

    <tr>
      <td><button routerLink="/classescat-add" class="btn btn-secondary ms-5"> ADD ROW  </button></td>
    </tr>



  </tbody>
</table>
