<!-- ==========Banner Section Starts Here========== -->
<section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg"
    style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
    <div class="container">
        <div class="page-header-content">
            <h1 class="title">kittons Register Now</h1>
            <ul class="breadcrumb">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="#">Pages</a>
                </li>
                <li>
                    Register Now
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- ==========Banner Section Ends Here========== -->
<!-- ==========Login Section Section Starts Here========== -->
<div class="login-section padding-top padding-bottom">
    <div class="container">
        <div class="account-wrapper">
            <h3 class="title">Register Now</h3>
            <form class="account-form" #myform="ngForm" (ngSubmit)="mysubmit(myform)">
                <div class="form-group ">
                  <label class="form-label d-flex justify-content-start" for="ParentName">ParentName  </label>
                    <input #ParentName="ngModel" type="text" id="ParentName"  name="ParentName" required pattern="[A-Za-z]{5,20}" ngModel
                    [class.is-valid]="ParentName.valid" [class.is-invalid]="ParentName.invalid"/>
                    
                    <div class="alert alert-danger mt-3" [hidden]="ParentName.valid || ParentName.untouched">
                        <small *ngIf="ParentName.errors?.['required']">
                           ParentName is required 
                        </small>
                        <small *ngIf="ParentName.errors?.['pattern']">
                           ParentName must be 5 letters at least 
                        </small>
                        
                        </div>
    
                </div>
                <div class="form-group">
                  <label class="form-label d-flex justify-content-start" for="Address">Address </label>
                    <input type="text" id="Address"  name="Address"  required pattern="[A-Za-z]{5,20}" ngModel #Address="ngModel"  [class.is-valid]="Address.valid" [class.is-invalid]="Address.invalid"/>
                    <div class="alert alert-danger mt-3" [hidden]="Address.valid || Address.untouched">
                        <small *ngIf="Address.errors?.['required']">
                            Address is required 
                        </small>
                        <small *ngIf="Address.errors?.['pattern']">
                            Address must be 5 letters at least 
                        </small>
                        
                        </div>
                </div>
                <div class="form-group">
                  <label class="form-label d-flex justify-content-start" for="email">Email </label>
                    <input type="text" id="email"  name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" ngModel  #email="ngModel">
                    <div class="alert alert-danger mt-3" [hidden]="email.valid || email.untouched">
                        <small *ngIf="email.errors?.['required']">
                            Email is required 
                        </small>
                        <small [hidden]="!email.errors?.['pattern']">
                            Please input a valid email.
                        </small>
                        
                        </div>
                </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="phoneNumber">Phone Number </label>
                 
                    <input type="text" id="phoneNumber" name="phone" required minlength="11" ngModel
                        #phone="ngModel">
                    <div class="alert alert-danger mt-3" *ngIf="phone.invalid && (phone.dirty || phone.touched) ">
                        <div  *ngIf="phone.errors?.['required']">
                            phone is required
                        </div>
                        <div  *ngIf="phone.errors?.['minlength']">
                            Phone must be at least 11 characters long.
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="pass">Password </label>

                    <input type="password" (keyup)="onKeypassword($event)"  id="pass" name="password" minlength="6" maxlength="15" required
                        ngModel #password="ngModel">
                    <div class="alert alert-danger mt-3" *ngIf="password.invalid && (password.dirty || password.touched) ">
                        <div *ngIf="password.errors?.['required']">
                            password is required
                        </div>
                        <div  *ngIf="password.errors?.['minlength']">
                            password must be at least 6 characters long.
                        </div>
                        <div  *ngIf="password.errors?.['maxlength']">
                            Password must be least then 15 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="Confirm Password"> Confirm Password </label>
                     <input type="password" (keyup)="onKey($event)"  id="Confirm Password"  required ngModel #confirmpassword="ngModel">
                    <div class="alert alert-danger mt-3" *ngIf="conpass!=pass">
                        confirm password is invalid
                    </div>

                </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="Child Name"> Child Name </label>
                    <input type="text" id="Child Name" name="ChildName" minlength="3" maxlength="20" required ngModel #ChildName="ngModel">
                    <div  class="alert alert-danger mt-3" *ngIf="ChildName.invalid && (ChildName.dirty || ChildName.touched) ">
                        <div *ngIf="ChildName.errors?.['required']">
                            ChildName is required
                        </div>
                        <div  *ngIf="ChildName.errors?.['minlength']">
                            ChildName must be at least 3 characters long.
                        </div>
                        <div  *ngIf="ChildName.errors?.['maxlength']">
                            ChildName must be least then 20 characters
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label d-flex justify-content-start" for="Child Age"> Child Age </label>
                    <input type="number" (keyup)="onKeyage($event)" id="Child Age" name="ChildAge" required ngModel #ChildAge="ngModel">
                    <div  *ngIf="ChildAge.invalid && (ChildAge.dirty || ChildAge.touched) ">
                        <div class="alert alert-danger mt-3" [hidden]="!ChildAge.errors?.['required']">
                            Child Age is required
                        </div>

                    </div>
                    <div  class="alert alert-danger mt-3" *ngIf="(age > 5  || age <1) && ChildAge.touched">
                        age is invalid.
                    </div>
                </div>
                <label  class="form-label d-flex justify-content-start" for="gender">Gender</label>
                <select name="childGender"  id="gender" required ngModel #childGender="ngModel">
                    <option value="none" selected>childGender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
                <div *ngIf="childGender.invalid && (childGender.dirty || childGender.touched) ">
                    <div class="alert alert-danger mt-3" *ngIf="childGender.errors?.['required']">
                        childGender is required
                    </div>
                  </div>


                    <!-- Terminal -->
                    <div class="terminal">
                      <ngx-dropzone (change)="onSelect($event)" style="margin: 20px;">
                        <ngx-dropzone-label>Drop ,child image</ngx-dropzone-label>
                        <ngx-dropzone-image-preview
                          ngProjectAs="ngx-dropzone-preview"
                          *ngFor="let f of files"
                          [file]="f"
                          [removable]="true"
                          (removed)="onRemove(f)"
                        >
                          <ngx-dropzone-label> ({{ f.type }})</ngx-dropzone-label>
                        </ngx-dropzone-image-preview>
                      </ngx-dropzone>
                      <!-- <div>
                        <button (click)="onload()">Upload</button>
                      </div> -->
                    </div>
                <div class="form-group">
                    <button type="submit" [disabled]="myform.invalid" class="d-block custom-button"><span >Get Started
                            Now</span></button>


                      <div *ngIf="message"  class="fs-1 bg-warning" >{{message.message}}</div>



                    <!-- <a routerLink="/sign-up" class="btn btn-primary d-block customs-button mt-5 " style="background-color:purple; height:50px; text-decoration:none; color: #fff; font-size: 15px;">Get Started Now As User</a>
                        <a routerLink="/sign-up as teacher" class="btn btn-primary d-block customs-button mt-5 " style="background-color:purple; height:50px; text-decoration:none; color: #fff; font-size: 15px;">Get Started Now As Teacher</a> -->
                </div>
            </form>
            <div class="account-bottom">
                <span class="d-block cate pt-10">Are you a member?  <a class="btn " style="text-decoration: underline; color: rgb(234, 85, 85);" routerLink="/sign-in">Login</a></span>
               
            </div>
        </div>
        
    </div>
</div>


<!-- ==========Login Section Section Ends Here========== -->
