
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">title</th>
        <!-- <th scope="col">is active</th> -->
        <th scope="col">description</th>
        <th scope="col">image</th>
        <!-- <th scope="col"> teacher id </th> -->
        <th scope="col"> Update </th>
        <th scope="col"> Delete </th>


      </tr>
    </thead>
    <tbody>

      <tr *ngFor="let post of posts   ;  let i =index" >
        <th scope="row">{{i+1}}</th>
        
        <td>{{post.title}}</td>
 

        <!-- <td *ngIf="post.isActive== 0"><i class="fa-solid fa-x fs-2 text-danger "></i></td> -->

        <!-- <td *ngIf="post.isActive== 1"><i class="fa-solid fa-check fs-2 text-success "></i></td> --> 
        <td>{{post.description}}</td>
        <td> <img [src]="post.image" alt="post image" width="100px" height="100px"> </td>

        <!-- <td>{{post.teacher_id}}</td> -->

        <td><button routerLink="/update-post/{{post.id}}"   class="btn btn-warning"> UPDATE  </button></td>
        <td><button routerLink="/delete-post/{{post.id}}" class="btn btn-danger"> DELETE  </button></td>

      </tr>

      <tr>
        <td><button routerLink="/posting" class="btn btn-primary"> ADD Post </button></td>
      </tr>



    </tbody>
  </table>










































