<section class="banner-section bg_img" data-background="assets/images/banner/banner01.png" style="background-image: url(&quot;assets/images/banner/banner01.png&quot;);">
    <div class="container">
        <div class="banner-content cl-white">
            <h3 class="cate">Our School is Best</h3>
            <h1 class="title">For Your Childs</h1>
            <p>Prescholer for the apcation testing and enrollment process for
                publc and private schools the city of alo abu mal kita kores vai</p>
            <a href="#" class="custom-button"><span>Get Started Now</span></a>
        </div>
    </div>
</section>
<!--  -->


<section class="about-section section-right-shape padding-bottom padding-top">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <div class="about-video mr-lg-4">
                  <img src="assets/images/about/about01.jpg" alt="about">
                  <a href="https://www.youtube.com/embed/6E9J8biF8RE" class="video-button popup"><i class="flaticon-play"></i></a>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="about-content">
                  <div class="section-header left-style">
                      <span class="cate mt-0">About Our kittons</span>
                      <h3 class="title">A Friendly School Having Proud of Their Students</h3>
                      <p>Dolor ame consectetur elite eusmod tempor dunt aliqua utas enim veniam
                          tempore quis ipsum nostrud ipsume amet consectetur adpisicing elit sedo
                          eiusmod tempo incdidunt labore dolore magna aliquat enim minim veniam
                          nostrud abori nisut alquip exea commodo consequat duis aute irure aliqua
                          enim minim veniam quis nostrud ullamco laboris nisiut aliquip</p>
                  </div>
                  <ul class="nulla-list">
                      <li>
                          <div class="thumb">
                              <img src="assets/images/about/icon01.png" alt="about">
                          </div>
                          <div class="content">
                              Learning Environment
                          </div>
                      </li>
                      <li>
                          <div class="thumb">
                              <img src="assets/images/about/icon02.png" alt="about">
                          </div>
                          <div class="content">
                              Professional Teachers
                          </div>
                      </li>
                      <li>
                          <div class="thumb">
                              <img src="assets/images/about/icon03.png" alt="about">
                          </div>
                          <div class="content">
                              Programs For Everyone
                          </div>
                      </li>
                      <li>
                          <div class="thumb">
                              <img src="assets/images/about/icon04.png" alt="about">
                          </div>
                          <div class="content">
                              Professional Teaching
                          </div>
                      </li>
                  </ul>
                  <div class="about-contact">
                      <div class="call-item">
                          <div class="thumb">
                              <img src="assets/images/about/call.png" alt="about">
                          </div>
                          <div class="content">
                              <span class="info">Call to ask any question</span>
                              <h5 class="subtitle"><a href="Tel:25451245452315">+0123-4056-7890</a></h5>
                          </div>
                      </div>
                      <div class="sign">
                          <img src="assets/images/about/sign.png" alt="about">
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
