<div class="container">
    <form action="">
        <div class="row">
            <div class="col">
                <h3 class="title">billing address</h3>
                <div class="inputBox">
                    <span>Full name :</span>
                    <input type="text" placeholder="enter your full name">
                </div>
                <div class="inputBox">
                    <span>email :</span>
                    <input type="email" placeholder="example@example.com">
                </div>
                <div class="inputBox">
                    <span>address:</span>
                    <input type="text" placeholder="street - locality">
                </div>
                <div class="inputBox">
                    <span>city :</span>
                    <input type="text" placeholder="enter your city">
                </div>
                <div class="flex">
                    <span>state :</span>
                    <input type="text" placeholder="enter your state">
                </div>
                <div class="inputBox">
                    <span>zip code:</span>
                    <input type="text" placeholder="123 456">
                </div>
            </div>
            <div class="col">
                <h3 class="title">payment</h3>
                <div class="inputBox">
                    <span>cards accepted</span>
                    <i class="fa-brands fa-cc-visa"></i>
                </div>
                <div class="inputBox">
                    <span>name on card :</span>
                    <input type="text" placeholder="enter name on card">
                </div>
                <div class="inputBox">
                    <span>credit card numbeer</span>
                    <input type="number" placeholder="1111-2222-3333-4444">
                </div>
                <div class="inputBox">
                    <span>exp month :</span>
                    <input type="text" placeholder="enter current month">
                </div>
                <div class="flex">
                    <span>year :</span>
                    <input type="number" placeholder="enter current year">
                </div>
                <div class="inputBox">
                    <span>cvv :</span>
                    <input type="text" placeholder="1234">
                </div>
            </div>
        </div>
        <input type="submit" value="proceed to checkout" class="submit-btn">
    </form>
</div>