<div class="row" >
  <ng-container *ngFor="let event of AllEvents ;  let i =index" >
    <div class="class-inner col-sm-4"  >
      <div class="event-item">
        <div class="expired" *ngIf="All[i]" >EXPIRED</div>
            <div class="event-humb">
                <a routerLink="/event/{{event.id}}"><img src="{{event.image}}" width="100%" height="300px" alt="events"></a>
                <div class="date-tag">
                    <h3 class="title">{{event.title}}</h3>
                    <span class="mon">{{event.date}}</span>
                </div>
            </div>
            <div class="event-content">
                <h5 class="title">
                    <a routerLink="/event/{{event.id}}">{{event.description | slice :0:70 }} ... see more</a>
                </h5>
                <ul class="events-info">
                    <li><i class="fas fa-clock"></i>{{event.time}}</li>
                    <li><i class="fas fa-home"></i>{{event.location}} </li>
                </ul>
            </div>
        </div>
    </div>
  </ng-container>

</div>

