  <div class="container">
    <div class="row justify-content-end">
      <div class="col-sm-4 d-flex gap-2">
        <button class="btn btn-primary" (click)="all()" > ALL </button>
        <button class="btn btn-primary" (click)="nonactive()"> NON ACTIVE </button>
      </div>
    </div>
  </div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">name</th>
      <th scope="col">is Active</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of AllEvents ;  let i =index" >
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="event/{{item.id}}"> View Event</a></td>
      <td>{{item.title}}</td>

      <td *ngIf="item.isActive== 0"><i class="fa-solid fa-x fs-2 text-danger "></i></td>
      <td *ngIf="item.isActive== 1"><i class="fa-solid fa-check fs-2 text-success "></i></td>


      <td>
        <div class="form-check form-switch">
          <input class="form-check-input" type="checkbox"  *ngIf="item.isActive ==0"  (click)="toggle(item.id , item.isActive)" >
          <input class="form-check-input" type="checkbox"  *ngIf="item.isActive ==1" checked (click)="toggle(item.id , item.isActive)" >
        </div>
      </td>


      <td><button (click)="delete(item.id)" class="btn btn-danger"> DELETE  </button></td>

    </tr>



  </tbody>
</table>
