 <!-- ==========Preloader Overlay Starts Here========== -->
 <div class="overlayer">
  <div class="loader">
      <div class="loader-inner"></div>
  </div>
</div>
<!-- ==========Preloader Overlay Ends Here========== -->
<!-- ==========Error Section Starts Here========== -->
<section class="error-section min-height-section bg_img" data-background="./assets/images/error/error-bg.jpg">
  <div class="container">
      <div class="error-wrapper">
          <div class="inner-logo">
              <a href="./index.html"><img src="./assets/images/error/logo.png" alt="error"></a>
          </div>
          <div class="main-thumb">
              <img src="./assets/images/error/404.png" alt="error">
          </div>
          <div class="error-content">
              <h3 class="title">Oops! this page not found</h3>
              <p>We are Really Sorry But the Page you Requested is Missing :(</p>
              <a href="./index.html" class="custom-button"><span>go back to home</span></a>
          </div>
      </div>
  </div>
</section>
<!-- ==========Error Section Ends Here========== -->