<div class="teacher-wrapper">
  <div class="teacher-single-top">
      <div class="teacher-single-item d-flex flex-wrap justify-content-between">
          <div class="teacher-single-thumb">
              <!-- <img src="assets/images/teacher/teacher-single.jpg" alt="teacher"> -->
          </div>
          <div class="teacher-single-content">
                <div class="masonary-wrapper lg-three-items"   style="position: relative; height: 2390px;">
                  <div class="masonary-item preschool programe" style="position: absolute; left: 0px; top: 0px;">
                      <div class="gallery-item-3">
                          <div class="gallery-thumb">
                              <a class="img-pp"  ><img src="{{SingleGame.image}}" alt="gallery"></a>
                          </div>
                          <div class="gallery-content">
                              <h5 class="title">{{SingleGame.title}}</h5>
                              <span>{{SingleGame.description}}</span>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="row teacher-single-bottom mb--50">
  </div>
</div>
