


<h5 class="mt-5 text-center text-danger ">Profile Details</h5>
<!-- user profile -->
<div class="container mt-3 mb-5 d-flex justify-content-evenly" *ngIf="data?.role==1">

  <form #postForm="ngForm"  >
    <div class="row">
        <div class="col">
          <!--  first Name input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example1">Your Name </label>
            <input  type="text" id="form8Example1" disabled="disabled" class="form-control" [ngModelOptions]="{standalone:true}"  [(ngModel)]="data.parentName"  />

          </div>
        </div>
        <div class="col">
          <!-- last name input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example2">Child Name</label>
            <input type="text" id="form8Example2" disabled="disabled" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="data.childName" />
          </div>
        </div>
      </div>

      <hr />

      <div class="row">
        <div class="col">
          <!-- email input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example3">Email</label>
            <input type="email" disabled="disabled" id="form8Example3" class="form-control" [(ngModel)]="data.email" [ngModelOptions]="{standalone:true}" />
          </div>
        </div>
        <div class="col">
          <!-- phone input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example4">Phone</label>
            <input type="number" disabled="disabled" id="form8Example4" class="form-control" [(ngModel)]="data.phone" [ngModelOptions]="{standalone:true}" />
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <!-- age input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example3">Child Age </label>
            <input type="number"disabled="disabled" id="form8Example3" class="form-control" [(ngModel)]="data.childAge" [ngModelOptions]="{standalone:true}" />
          </div>
        </div>
         <div class="col">
          <!-- gender input  -->
          <label class="form-label" for="form8Example3"> child Gender</label>
          <select class="form-select"  disabled="disabled" aria-label="Default select example" [(ngModel)]="data.childGender" [ngModelOptions]="{standalone:true}">
            <option value="male">Male</option>
            <option value="female">Female</option>

          </select>
        </div>

      </div>

           <div class="row">
            <div class="col">
                <!--  password input -->
                <div class="form-outline">
                  <label class="form-label" for="form8Example5">Address</label>
                  <input type="string"  disabled="disabled"id="form8Example5" class="form-control"[(ngModel)]="data.address" [ngModelOptions]="{standalone:true}"/>
                </div>
              </div>
           </div>
           
          
   </form>

   
   <div class=" mt-3 ">
    <div class="card " style="width: 15rem; height: 20rem;">
      <img [src]="data.childImage"  alt="...">
        <label for="childImg" class="form-label"> Child Image</label>

      </div>

</div>



</div>

<!-- <div class="mt-5 mb-5">
  <div class=" d-inline-flex " >
    <h4>partentName:</h4>
    <h6 >{{data.parentName}}</h6>


 </div>
 <br>
 <div class="  d-inline-flex  " >
   <h4>childName:</h4>
   <h6  >{{data.childName}}</h6>

 </div>
 <br>
 <div class=" d-inline-flex mb-2 " >
  <h4>childAge:</h4>
  <h6 >{{data.childAge}}</h6>

</div>
<br >
<div class=" d-inline-flex mb-2 " >
 <h4>child Gender:</h4>
 <h6 >{{data.childGender}}</h6>

</div>
<br>
<div class=" d-inline-flex mb-2 " >
  <h4>email:</h4>
  <h6 >{{data.email}}</h6>

</div>
<br>

<div class=" d-inline-flex mb-2 " >
  <h4>phone:</h4>
  <h6 >{{data.phone}}</h6>
</div>


<br>
<div class=" d-inline-flex mb-2 " >
  <h4>Address:</h4>
  <h6 >{{data.address}}</h6>

</div> -->
<!-- </div> -->






<!-- teacher profile  -->

<div class="container mt-3 mb-5 d-flex justify-content-evenly" *ngIf="data?.role==2">

  <form #postForm="ngForm"   >
    <div class="row">
        <div class="col">
          <!--  first Name input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example1">Your Name </label>
            <input  type="text" disabled="disabled" id="form8Example1"  class="form-control" [ngModelOptions]="{standalone:true}"  [(ngModel)]="data.name"  />
 
          </div>
        </div>
        <div class="col">
          <!-- last name input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example2">national ID</label>
            <input type="number" disabled="disabled" id="form8Example2" class="form-control" [ngModelOptions]="{standalone:true}" [(ngModel)]="data.ssid" />
          </div>
        </div>
      </div>
 
      <hr />
 
      <div class="row">
        <div class="col">
          <!-- email input -->
          <div class="form-outline">
            <label class="form-label" for="form8Example3">Email</label>
            <input type="email" disabled="disabled" id="form8Example3" class="form-control" [(ngModel)]="data.email" [ngModelOptions]="{standalone:true}" />
          </div>
        </div>
        <!-- phone input -->
        <div class="col">
 
          <div class="form-outline">
            <label class="form-label" for="form8Example4">Phone</label>
            <input type="number" disabled="disabled" id="form8Example4" class="form-control" [(ngModel)]="data.phone" [ngModelOptions]="{standalone:true}" />
          </div>
        </div>
 
      </div>
   
      <div class="row">
 
 
 
              <!--  address input -->
              <div class="form-outline">
                <label class="form-label" for="form8Example5"> Address</label>
                <input type="string" disabled="disabled" id="form8Example5" class="form-control"  [(ngModel)]="data.address" [ngModelOptions]="{standalone:true}"/>
              </div>
 
 
            </div>
   </form>
   <div class=" mt-3">
    <div class="card" style="width: 15rem; height: 20rem;">
         <img [src]="data.image"  alt="...">
        <label for="childImg" class="form-label text-center"> Teacher Image</label>

      </div>

</div>



</div>
  <!-- <div class="mt-5 mb-5">
    <div class=" d-inline-flex " >
      <h4>Teacher Name:</h4>
      <h6 >{{data.name}}</h6>


   </div>
   <br>
   <div class="  d-inline-flex  " >
     <h4>national ID:</h4>
     <h6  >{{data.ssid}}</h6>

   </div>
   <br>
  <div class=" d-inline-flex mb-2 " >
    <h4>email:</h4>
    <h6 >{{data.email}}</h6>

  </div>
  <br>
  <div class=" d-inline-flex mb-2 " >
    <h4>phone:</h4>
    <h6 >{{data.phone}}</h6>

  </div>
  <br>
  <div class=" d-inline-flex mb-2 " >
    <h4>Address:</h4>
    <h6 >{{data.address}}</h6>

  </div>
  </div> -->






     


<!-- edit profile -->
<div class="card-body text-center">
  <a routerLink="/edit-profile" class="btn btn-primary m-2">Edit Profile</a>
  <a *ngIf="data.role==1" routerLink="/delete-profile" class="btn btn-danger">Delete Profile</a>

</div> 


