
<div class="row justify-content-center">
  <h1> CONTENT OF {{Class?.name}} CLASS </h1>
</div>



<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col"></th>
      <th scope="col">title</th>
      <th scope="col">description</th>
      <th scope="col">Video</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of AllEvents   ;  let i =index"  >
      <th scope="row">{{i+1}}</th>
      <td><a routerLink="/content-single/{{item.id}}"> View Event</a></td>
      <td>{{item.title}}</td>
      <td>{{item.description}}</td>

      <td>
        <div class="about-video "style="width: 300px ; height: 300px;">
          <img src="{{item.image}}" style="width: 300px ; height: 300px;" alt="about">
          <a href="{{item.link}}" class="video-button popup" style="width: 50px ; height: 50px;"><i class="flaticon-play"></i></a>
      </div>
      </td>

      <td><button routerLink="/content-update/{{item.id}}"   class="btn btn-warning"> UPDATE  </button></td>
      <td><button routerLink="/content-delete/{{item.id}}" class="btn btn-danger"> DELETE  </button></td>
    </tr>

    <tr>
      <td><button routerLink="/content-add/{{classId}}" class="btn btn-primary"> ADD ROW  </button></td>
    </tr>


  </tbody>
</table>
