<div class="row mb--50">
  <div class="col-lg-12 mb-50">
      <div class="class-single-item">
          <div class="class-single-inner">
              <div class="event-thumb">
                  <img src="{{SingleEvents.image}}" style="width: 50% ;" alt="events">
                  <div class="date-tag">
                      <h3 class="title">{{SingleEvents.title}}</h3>
                      <span class="mon">May 20</span>
                  </div>
              </div>
              <div class="class-single-content"   >
                  <div class="countdown-area">
                      <h4 class="counts-title">The event will start in :</h4>
                      <ul class="countdown">
                          <li>
                              <h4 class="count-title"><span class="days">107</span></h4>
                              <p class="days_text">Days</p>
                          </li>
                          <li>
                              <h4 class="count-title"><span class="hours">23</span></h4>
                              <p class="hours_text">Hours</p>
                          </li>
                          <li>
                              <h4 class="count-title"><span class="minutes">53</span></h4>
                              <p class="minu_text">minu</p>
                          </li>
                          <li>
                              <h4 class="count-title"><span class="seconds">44</span></h4>
                              <p class="seco_text">seco</p>
                          </li>
                      </ul>
                  </div>
                  <p>

                  </p>

              </div>

          </div>
      </div>
  </div>

</div>
