<section class="events-single-section padding-top padding-bottom">
  <div class="container">
      <div class="row mb--50">
        <div class="fs-2 py-2 text-dark" > Number of People Gonna be There : <span class="text-danger" >{{gonnaGo}}</span></div>
          <div class="col-lg-8 mb-50">
              <div class="class-single-item">
                <div class="class-single-inner">
                  <div class="event-thumb">
                          <img src="{{SingleEvents.image}}" alt="events">
                          <div class="date-tag">
                              <h3 class="title">{{date | date : "d"}}</h3>
                              <span class="mon">{{date | date : "MMM ,y"  }}</span>
                          </div>
                      </div>
                      <div class="class-single-content">
                          <div class="countdown-area">
                              <h4 class="counts-title">The event will start in :</h4>
                              <ul class="countdown">
                                  <li>
                                      <h4 class="count-title"><span class="days">{{days}}</span></h4>
                                      <p class="days_text">Days</p>
                                  </li>
                                  <li>
                                      <h4 class="count-title"><span class="hours">{{hours}}</span></h4>
                                      <p class="hours_text">Hours</p>
                                  </li>
                                  <li>
                                      <h4 class="count-title"><span class="minutes">{{minutes}}</span></h4>
                                      <p class="minu_text">minu</p>
                                  </li>
                                  <li>
                                      <h4 class="count-title"><span class="seconds">{{seconds}}</span></h4>
                                      <p class="seco_text">seco</p>
                                  </li>
                              </ul>
                          </div>
                          <p>
                            {{SingleEvents.description}}
                          </p>

                      </div>
                      <div class="tags-area">
                          <ul class="tags">

                              <li *ngIf="!auth">
                                  <a routerLink="/sign-up" >Enroll me </a>
                              </li>
                              <li *ngIf="auth">
                                  <a (click)="inroll()"  *ngIf="alreadyEnroller == false " >Enroll me </a>
                              </li>
                              <div class="btn text-center fs-2 text-white bg-danger" *ngIf="message !='' " >{{message}}</div>


                          </ul>

                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-50">
              <aside>
                  <div class="widget widget-feature">
                      <div class="widget-header">
                          <h5 class="title">Course Features</h5>
                      </div>
                      <div class="widget-body">
                          <ul>
                              <li>
                                  <div class="ques cl-i-one"><i class="fas fa-calendar"></i>Start Date</div>
                                  <div class="ans">{{SingleEvents.date | date : 'longDate'}}</div>
                                </li>
                                <li>
                                  <div class="ques cl-i-two"><i class="fas fa-clock"></i>Years old</div>
                                  <div class="ans">5</div>
                              </li>
                              <li>
                                  <div class="ques cl-i-four"><i class="fas fa-clock"></i>End Time</div>
                                  <div class="ans">{{SingleEvents.time }}</div>
                              </li>
                              <li>
                                  <div class="ques cl-i-five"><i class="fas fa-home"></i>Location</div>
                                  <div class="ans">{{SingleEvents.location}}</div>
                              </li>
                              <li>
                                <div class="ques cl-i-six"><i class="fas fa-user"></i>Event Organizer</div>
                                <a routerLink="/single-teacher/{{teacher?.id}}">
                                  <div class="ans">{{teacher?.name}}</div>
                                </a>
                              </li>

<!--
                              <li>
                                  <div class="ques cl-i-seven"><i class="fas fa-star"></i>Rating</div>
                                  <div class="ans cl-i-seven"><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></div>
                              </li>
                              <li>
                                  <div class="ques cl-i-eight"><i class="fas fa-coins"></i>Event Ticket</div>
                                  <div class="ans">$2500.00</div>
                              </li>
 -->



                          </ul>
                      </div>
                  </div>
                  <div class="widget widget-post">
                      <div class="widget-header">
                          <h5 class="title">Most Popular Post</h5>
                      </div>
                      <div class="widget-body">
                          <ul>

                              <li *ngFor="let post of posts " >
                                  <div class="thumb">
                                      <a routerLink="/single-post/{{post.id}}">
                                          <img src="{{post?.image}}" alt="blog">
                                      </a>
                                  </div>
                                  <div class="content">
                                      <a href="blog-single.html">{{post.title}}</a>
                                      <span>April 08,2022</span>
                                  </div>
                              </li>

                          </ul>
                      </div>
                  </div>

              </aside>
          </div>
      </div>
  </div>
</section>
