
<section class="class-single-section padding-top padding-bottom">
  <div class="container" >
      <div class="row mb--50">
          <div class="col-lg-8 mb-50">
              <div class="class-single-item">
                  <div class="class-single-inner " >
                      <div class="class-single-thumb" >
                          <img [src]="AllClasses?.image " alt="class">
                      </div>
                      <div class="class-single-content">
                          <ul class="meta-post">
                              <li>
                                  <a href="#"><i class="far fa-cla"></i> Class Name : {{AllClasses?.name}}</a>
                              </li>
                              <li>
                                  <a href="#"><i class="far fa-heart"></i>124 Likes</a>
                              </li>
                              <li>
                                  <a href="#"><i class="far fa-comments"></i>09 Comments</a>
                              </li>
                          </ul>
                          <button type="submit"  *ngIf="!auth && valid?.own != true " routerLink="/sign-up" click="add()" class="custom-button m-3"><span>Buy Now</span></button>
                          <button type="submit"  *ngIf="auth && valid?.own != true" routerLink="/checkout/{{AllClasses?.id}}" click="add()" class="custom-button m-3"><span>Buy Now</span></button>
                          <p>
                              Serenity hassr taken posseson of my entire soung like these sweet mornngs sprng whch
                              enjoy with
                              my whole heart I am alonesi and feel the charm of exstenceths spot whch was the blis
                              of souls like
                              mineing am soo happy my dear frend absoribed the exquste sense enjoy with my whole
                              heart in am
                              alone and feel the charm of exstenceths spot whch was the blis of souls like mineing
                              am so happyr
                              my dear frend so absoribed the exqust sense tranquil existence that neglect my
                              talentsr Ins should
                              bye ncapable of drawng and singe wonderful serenty has taken possesison of my entrei
                              souing like
                              these sweet present moment and yet feel that never was greater artst
                          </p>
                          <blockquote class="single-quote">
                              <div class="quotes">
                                 {{AllClasses?.description}}
                                  <span>...Melissa Hunter</span>
                              </div>
                          </blockquote>

                          <p>
                              Serenity hassr taken posseson of my entire soung like these sweet mornngs sprng whch
                              enjoy with
                              my whole heart I am alonesi and feel the charm of exstenceths spot whch was the blis
                              of souls like
                              mineing am soo happy my dear frend absoribed the exquste sense enjoy with my whole
                              heart in am
                              alone and feel the charm of exstenceths spot whch was the blis of souls like mineing
                              am so happyr
                              my dear frend so absoribed the exqust sense tranquil existence that neglect my
                              talentsr Ins should
                              bye ncapable of drawng and singe wonderful serenty has taken possesison of my entrei
                              souing like
                              these sweet present moment and yet feel that never was greater artst
                          </p>

                        <div class="father" *ngIf="valid?.own != true" >
                          <div class="container-fluid">
                            <div class="iframe-cont">
                              <div class="about-video" >
                                <img src="{{firstEvents?.image}}"  alt="about">
                                <a href="{{firstEvents?.link}}" class="video-button popup"><i class="flaticon-play"></i></a>
                            </div>
                          </div>
                          </div>
                          <div class="box2 ">
                            <ul class="video-table">
                                <li class="video-lessons"><h5>Course Content</h5></li>
                                <li class="video-lessons" id="video1" *ngFor="let video of AllEvents" routerLinkActive="bg-primary">
                                  <div class="row">
                                    <div class="col-sm-4">
                                      <img src="{{video?.image}}" style="width: 100% ;" alt="">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="p-2"routerLinkActive="text-white">{{video?.title}}</div>
                                        <div class="p-2"routerLinkActive="text-white">{{video?.description}}</div>
                                    </div>
                                  </div>
                                </li>
                            </ul>
                          </div>
                        </div>

                        <div class="father" *ngIf="valid?.own == true" >
                          <div class="container-fluid">
                            <div class="iframe-cont">
                              <div class="about-video" >
                                <img src="{{firstEvents?.image}}"  alt="about">
                                <a href="{{firstEvents?.link}}" class="video-button popup"><i class="flaticon-play"></i></a>
                            </div>
                          </div>
                          </div>
                          <div class="box2 ">
                            <ul class="video-table">
                                <li class="video-lessons"><h5>Course Content</h5></li>
                                <li class="video-lessons" id="video1" *ngFor="let video of AllEvents" routerLinkActive="bg-primary">
                                  <a routerLink="/content-single/{{video?.id}}"  routerLinkActive="active">
                                    <div class="row">
                                      <div class="col-sm-4">
                                        <img src="{{video?.image}}" style="width: 100% ;" alt="">
                                      </div>
                                      <div class="col-sm-8">
                                          <div class="p-2"routerLinkActive="text-white">{{video?.title}}</div>
                                          <div class="p-2"routerLinkActive="text-white">{{video?.description}}</div>
                                      </div>
                                    </div>
                                  </a>
                                </li>
                            </ul>
                          </div>
                        </div>


                      </div>
                      <!-- \\ testmonails  // -->
                      <!-- \\ testmonails // -->


                      <div class="tags-area">
                          <ul class="tags">
                              <li>
                                  <a routerLink='/classes'>Classes</a>
                              </li>

                              <li>
                                  <a [routerLink]="['/shop']" routerLinkActive="router-link-active" >Shop Now</a>
                              </li>
                          </ul>
                          <ul class="share">
                              <li>
                                  <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="dribble"><i class="fab fa-dribbble"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                              </li>
                              <li>
                                  <a href="#" class="google"><i class="fab fa-google-plus-g"></i></a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 mb-50">
              <aside>
                  <div class="widget widget-feature">
                      <div class="widget-header">
                          <h5 class="title">Course Features</h5>
                      </div>
                      <div class="widget-body">
                          <ul>
                              <li>
                                  <div class="ques cl-i-one"><i class="fas fa-bell"></i>Start Date</div>
                                  <div class="ans">{{ AllClasses?.date }}</div>
                              </li>
                              <li>
                                  <div class="ques cl-i-two"><i class="fas fa-cla"></i>Years old</div>
                                  <div class="ans">{{ AllClasses?.targetAge  }} Years</div>
                              </li>
                              <li>
                                  <div class="ques cl-i-three"><i class="fas fa-sitemap"></i>Class Size</div>
                                  <div class="ans">{{ AllClasses?.size }} kids</div>
                              </li>
                              <li>
                                  <div class="ques cl-i-five"><i class="fas fa-address-book"></i>Class Duration
                                  </div>
                                  <div class="ans">{{ AllClasses?.duration }} Days</div>
                              </li>
                              <li>
                                  <div class="ques cl-i-six"><i class="fas fa-clock"></i>Class time</div>
                                  <div class="ans">{{ AllClasses?.time }}</div>
                              </li>

                              <!-- <li> -->
                                <!-- <div class="ques cl-i-seven"><i class="fas fa-star"></i>Total Rating</div> -->
                                <!-- <div class="ans cl-i-seven"> -->
                                  <!-- <div style="font-size:x-large ;color:orange"> -->
                                  <!-- <ngb-rating [max]="5" [(rate)]="totalRate" [readonly]="true" ></ngb-rating></div> -->
                                  <!-- </div> -->
                            <!-- </li> -->


                              <li>
                                  <div class="ques cl-i-eight"><i class="fas fa-coins"></i>Tution Fee</div>
                                  <div class="ans">{{ AllClasses?.price }}</div>
                              </li>
                          </ul>
                      </div>
                  </div>
                  <div class="widget widget-post">
                    <div class="widget-header">
                        <h5 class="title">Comments On Class:</h5>
                    </div>
                    <div class="widget-body">
                        <ul>
                            <li>
                              <div class="container bg-light">
                                <div   *ngFor="let comment of allcomments"  >
                                  <div *ngIf="comment.class_id == AllClasses?.id">



                                      <div  class="card m-2 p-2" >
                                      <p> User Name :{{comment.user_name}} </p>


                                      <h5 >{{comment.comment}}</h5>
                                   </div>


                                  </div>

                                </div>
                              </div>
                            </li>

                        </ul>
                    </div>
                <!-- </div -->
                  <div class="widget widget-gallery">
                      <div class="widget-header">
                          <h5 class="title">Gallery Photos</h5>
                      </div>
                      <div class="widget-body">
                      </div>
                    </div>
                  </div>

              </aside>
          </div>
      </div>
  </div>
</section>
