<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">name</th>
      <th scope="col">Target Age</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let item of AllEvents ;  let i =index" >
      <th scope="row">{{i+1}}</th>
      <!-- <td><a routerLink="/event/{{item.id}}"> View Event</a></td> -->
      <td>{{item.title}}</td>
      <td>{{item.targetAge}}<td>

      <td><button routerLink="/admin/eventcats-update/{{item.id}}"   class="btn btn-warning"> UPDATE  </button></td>
      <td><button routerLink="/admin/eventcats-delete/{{item.id}}" class="btn btn-danger"> DELETE  </button></td>
    </tr>

    <tr>
      <td><button routerLink="/admin/eventcats-add" class="btn btn-primary"> ADD ROW  </button></td>
    </tr>


  </tbody>
</table>
