

<!-- 
<form  (ngSubmit)="InsertProduct()">
    <div class="mb-3">
        <label for="prdName" class="form-label">Product Name</label>

        <input  type="text" class="form-control" name="prdName" id="prdName"
            >

        <div class="alert alert-danger">
            <small *ngIf="prdNameInput.errors?.['required']">
                Product Name is required
            </small>
            <small *ngIf="prdNameInput.errors?.['pattern']">
                Product Name must be 3 letters at least
            </small>
        </div>

    </div>

    <div class="mb-3">
        <label for="prdQuant" class="form-label">Quantity</label>
        <input type="number" class="form-control" name="prdQuant" id="prdQuant" required >
    </div>

    <div class="mb-3">
        <label for="prdPrc" class="form-label">Price</label>
        <input type="number" class="form-control" name="prdPrc" id="prdPrc" required>
    </div>

    <div class="mb-3">
        <label for="prdCat" class="form-label">Select Category</label>
        <select class="form-control" name="prdCat" id="prdCat" required [(ngModel)]="newPrd.catID"
        [ngModelOptions]="{standalone:true}"  >
            <option *ngFor="let cat of catList" [value]="cat.ID">
                {{cat.Name}}
            </option>
        </select>
    </div>


    <button type="submit" class="btn btn-success" >Submit</button>
</form> -->