<section class="page-header bg_img" data-background="./assets/images/banner/page-header.jpg" style="background-image: url(&quot;./assets/images/banner/page-header.jpg&quot;);">
  <div class="container">
      <div class="page-header-content">
          <h1 class="title">Checkout Fot Course</h1>
          <ul class="breadcrumb">
              <li>
                  <a href="index.html">Home</a>
              </li>
              <li>
                 <a routerLink="/classes"> Classes</a>
              </li>
          </ul>
      </div>
  </div>
</section>
<div class="cart-checkout-box mb-widget">
  <div class="coupon-area">
      <form class="coupon">
          <input type="text" name="coupon" placeholder="Coupon Code..." class="cart-page-input-text">
          <input type="submit" value="Apply Coupon">
      </form>
      <form class="cart-checkout">
          <input type="submit" value="Update Cart">
          <input type="submit" value="Proceed to Checkout">
      </form>
  </div>
</div>
<div class="shiping-box mb-widget">
  <div class="row">
      <div class="col-md-6 col-12">
          <div class="calculate-shiping">
              <h5 class="title">Calculate Shipping</h5>
              <form class="calculate-form">
                  <div class="outline-select w-100">
                      <select class="select-bar" style="display: none;">
                          <option value="volvo">United Kingdom (UK)</option>
                          <option value="saab">Bangladesh</option>
                          <option value="saab">Pakisthan</option>
                          <option value="saab">India</option>
                          <option value="saab">Nepal</option>
                      </select><div class="nice-select select-bar" tabindex="0"><span class="current">United Kingdom (UK)</span><ul class="list"><li data-value="volvo" class="option selected">United Kingdom (UK)</li><li data-value="saab" class="option">Bangladesh</li><li data-value="saab" class="option">Pakisthan</li><li data-value="saab" class="option">India</li><li data-value="saab" class="option">Nepal</li></ul></div>
                  </div>
                  <div class="outline-select shipping-select">
                      <select class="select-bar" style="display: none;">
                          <option value="volvo">State/Country</option>
                          <option value="saab">Dhaka</option>
                          <option value="saab">Benkok</option>
                          <option value="saab">Kolkata</option>
                          <option value="saab">Kapasia</option>
                      </select><div class="nice-select select-bar" tabindex="0"><span class="current">State/Country</span><ul class="list"><li data-value="volvo" class="option selected">State/Country</li><li data-value="saab" class="option">Dhaka</li><li data-value="saab" class="option">Benkok</li><li data-value="saab" class="option">Kolkata</li><li data-value="saab" class="option">Kapasia</li></ul></div>
                  </div>

                  <input type="text" name="coupon" placeholder="Postcode/ZIP">

                  <button type="submit"  (click)="goToPayment()" class="custom-button"><span>Check Out</span></button>
              </form>
          </div>
      </div>
      <div class="col-md-6 col-12">
          <div class="cart-overview">
              <h5 class="title">Cart Totals</h5>
              <ul>
                  <li>
                      <span class="pull-left">Course Subtotal</span>
                      <p class="pull-right">{{cla?.price}}</p>
                  </li>
                  <li>
                      <span class="pull-left">Shipping and Handling</span>
                      <p class="pull-right">Free Shipping</p>
                  </li>
                  <li>
                    <span>{{cla?.name}}</span>
                      <span class="pull-left">Order Total</span>
                      <p class="pull-right">{{cla?.price}}</p>
                  </li>
              </ul>
          </div>
      </div>
