<div class="row row-cols-4  " style="width: 1400px;">
  <div class="class-item m-3 " *ngFor="let cla of AllClasses" >
    <div class="class-thumb">
<!-- <li> -->
      <a  routerLink="/classes/{{ cla.id }}"
        ><img src="{{ cla.image }}" alt="class"
      /></a>
    </div>
    <div class="class-content">
      <h5 class="title">
        <a  routerLink="/classes/{{ cla.id }}">{{ cla.name }}</a>
      </h5>
      <div class="class-meta">
        <div class="class-author">
          <div class="thumb">
            <a routerLink ="/single-teacher/{{cla.teacher_id}}"
              ><img src="./assets/images/class/teacher02.jpg" alt="class"
            /></a>
          </div>
          <div class="content">
            <h6 class="subtitle">
              <a routerLink ="/single-teacher/{{cla.teacher_id}}">Smith</a>
            </h6>
            <a routerLink ="/single-teacher/{{cla.teacher_id}}" class="info">View Profile</a>
          </div>
        </div>
        <div class="cost-area">
          <h6 class="subtitle">Price ({{ cla.price }})</h6>
          <span class="info">Per Month</span>
        </div>
      </div>
      <div class="schedule-area">
        <div class="schedule-item">
          <h6 class="sub-title">Duration ({{ cla.duration }})</h6>
          <span class="info">Days</span>
        </div>
        <div class="schedule-item">
          <h6 class="sub-title">Target Age ({{ cla.targetAge }})</h6>
          <span class="info">Years Old</span>
        </div>

      </div>
    </div>
  </div>
</div>
